$background-color:  #40be80;
$title-color:       rgba(0, 0, 0, 1);
$text-color:       rgba(0, 0, 0, 1);
$moreinfo-color:    rgba(255, 255, 255, 1);

.widget-status {

  background-color: $background-color;

  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .text {
    color: $text-color;
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }

  &.large h3 {
    font-size: 65px;
  }
}
