<script type='text/javascript'>
$(function() {
Dashing.widget_base_dimensions = [105, 105]
Dashing.numColumns = 12
});
</script>

<% content_for(:title) { "edX DedX" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="3">
      <div data-id="ecomm_unit" data-view="Meter" data-title="Ecommerce Unit"
      data-moreinfo="Python code coverage %"
      data-min="0" data-max="100" style="background-color:#993300"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="3" data-sizey="3">
      <div data-id="auth_backends" data-view="Meter" data-title="Auth Backends"
      data-moreinfo="Python code coverage %"
      data-min="0" data-max="100" style="background-color:#993300"></div>
    </li>
    <li data-row="4" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="icon" data-view="Image" data-image="/edx.png"></div>
    </li>
<!--     <li data-row="4" data-col="3" data-sizex="2" data-sizey="3">
      <div data-id="langs_ecommerce" data-view="ProgressBars" data-title="Project Bars"></div>
    </li>
    <li data-row="4" data-col="5" data-sizex="2" data-sizey="3">
      <div data-id="langs_auth_backends" data-view="ProgressBars" data-title="Project Bars"></div>
    </li>
 -->
  </ul>
</div>
