<% content_for(:title) { "edX Engineering" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/logo.png"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="mitx_py_coverage" data-view="EdxPyCoverage" style="background-color:#1aa1e0"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mitx_hash_list" data-view="MitxVersion" style="background-color:#b52967"></div>
    </li>
  </ul>
</div>